@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App {
  text-align: center;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	color:#FFF;
	background-color:#25d366;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.imgcls{
	height: 100%;
    max-height: 600px;
    width: 100%;
}

body{
	
}

.my-float{
	margin-top:16px;
}

.stickyheader{
	background-color: #FFF;
    position:sticky;
    top:0;
    width:100%;
    z-index:100;
}
.headerlink{
	margin:5px;
	color: #fff !important;;
	font-weight:700
}
.iconcolor :hover{
	color: #5DADE2;
}
